<table class="table">
  <tr>
    <th>N</th>
    <th>Customer</th>
    <th>Patient Type</th>
    <th>Patient Name</th>
    <th>Patient Size</th>
    <th>Reason for visit</th>
    <th>Time</th>
    <th>Status</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Mihail</td>
    <td>cat</td>
    <td>Maza</td>
    <td>mid</td>
    <td>emergency</td>
    <td>First half</td>
    <td>On going</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Todor</td>
    <td>dog</td>
    <td>Barki</td>
    <td>large</td>
    <td>checkup</td>
    <td>First half</td>
    <td>closed</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Ivan</td>
    <td>dog</td>
    <td>Barki</td>
    <td>large</td>
    <td>checkup</td>
    <td>Second half</td>
    <td>On going</td>
  </tr>
  <tr>
    <td>4</td>
    <td>Ilia</td>
    <td>dog</td>
    <td>Barki</td>
    <td>large</td>
    <td>checkup</td>
    <td>Decond half</td>
    <td>On going</td>
  </tr>
</table>
