.wrapper {
  width: 1200px;
  margin: auto;
}

.title {
  font-weight   : bold;
  font-size     : 22px;
  margin-top    : 16px;
  margin-bottom : 16px;
}

.button {
  margin-top        : 16px;
  margin-bottom     : 16px;
  font-weight       : bold;
  text-transform    : uppercase;
  border            : solid #dedede 1px;
  padding           : 8px 16px;
  background-color  : #c5dbfa;
  border-radius     : 5px;

}

.table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.table td, .table th {
  border    : 1px solid #ddd;
  padding   : 8px;
  border: none;
}

.table tr:nth-child(even) {
  background: #f2f2f2;
}

.table tr:hover {
  background: #ddd;
}

.table th {
  padding-top     : 12px;
  padding-bottom  : 12px;
  text-align      : left;
  background      : #f1bebc;
  color           : 000;
  font-weight     : bold;
}
